# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environment Variables
# =========================
.env

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Uploaded Files
# =========================

reports/*
!reports/.gitkeep

exports/*
!reports/.gitkeep

uploads/*
!uploads/.gitkeep

# =========================
# Flask
# =========================
instance/
.flaskenv

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db